body {
    background-color:grey;
  }
  .container {
    margin: auto;
    width: 50%;
    padding: 10px 10px 10px 10px;
  }
  .divider{
    width:5px;
    height:auto;
    display:inline-block;
}
p{
  color: black;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
#pWins{
  color: blue;
}

#cWins{
  color: purple;
}